:root {
  --gray-dark: darkgray;
  --gray-dark2: #040404;
  --gray-medium: #5d5d5d;
  --gray-darker: #3b3b3b;
  --gray-darker2: #363636;
  --gray-light: #bfbfbf;
  --gray-lighter: #eee;

  --azure: #0066d4;
  --white: #fff;
  
  --body-text: var(--gray-dark);
  --headline-text: var(--white);

  --table-cell-height-spacing: 12px;
  --margin-spacing: 15px;
  --h2-header-font-size: 18px;
  --table-cell-width-spacing: 25px;
  --pager-element-height: 30px;
}

html, body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto; /* for body */
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

header {
  background-color: var(--azure);
  color: var(--headline-text);
  display: flex;
}

h2{
  margin: var(--margin-spacing) var(--table-cell-height-spacing);
  font-weight: 400;
  font-size: var(--h2-header-font-size);
}

.threeDot-icon {
  background-color: var(--azure);
}

.header__btn {
  margin-left: auto;
  margin-right: 10px;
  background-color: var(--azure);
  border: none;
}

.twrapper{
  overflow-x:auto;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  padding: 30px 0px;
  margin: 0 auto;
}

thead {
  background-color: var(--gray-lighter);
  text-align: left;
  font-size: 14px;
}

th,
td {
  color: var(--gray-darker2); /*#242323*/
  padding: var(--table-cell-height-spacing) var(--table-cell-width-spacing);
  margin: none;
}

td {
  border-bottom: 1px solid var(--gray-dark);
}

.icon-btn {
  border: none;
  background-color: var(--white);
  margin: 2px;
}

.pager {
  align-items: center;
  display: flex;
  height: var(--pager-element-height);
  justify-content: center;
}

.pager-btn {
  border: none;
  background-color: var(--white);
  margin: 0 3px;
}

.pager__input-wrapper {
  padding: 0 var(--table-cell-spacing);
  font-weight: normal;
}

.pager__input {
  line-height: var(--pager-element-height);
  max-width: 50px;
}