:root {
    --gray-dark: darkgray;
    --gray-dark2: #040404;
    --gray-medium: #5d5d5d;
    --gray-darker: #3b3b3b;
    --gray-light: #bfbfbf;
    --gray-lighter: #eee;
  
    --azure: #0066d4;
    --white: #fff;
  
    --body-text: var(--gray-dark);
    --headline-text: var(--white);
  
    --table-cell-height-spacing: 12px;
    --table-cell-width-spacing: 25px;
    --pager-element-height: 30px;
    --margin-height-spacing: 20px;
    --button-padding: 7px;
  }

.logo{
  display: block;
  margin: 100px auto var(--pager-element-height) auto;
}

.page-name{
  text-align: center;
  font-family: Helvetica;
  color: var(--gray-darker);
  font-weight: normal; 
}

.ast{
  color:red;
} 

.forms{
  text-align: center;
  font-family: Helvetica;
  color: var(--gray-darker);
  font-weight: normal; 
}

.form-text {
  text-align: left;
  margin-left: 584px;
}

input{
  height: var(--margin-height-spacing);
  width: 250px;
}

button {
  margin-top: var(--margin-height-spacing);
  background-color: var(--azure);
  color: var(--white);
  border: none;
  padding: var(--button-padding);
  width: 257px;
}

.newpassword-page {
  margin-top: var(--margin-height-spacing);
}
  
