.page--detail {
  p, h1 {
    margin: 0;
  }
}

.company-title {
  display: flex;
}

.star-button {
  background-color: white;
  border: none;
  margin-top: 39px;
  margin-left: auto;
}

.favorite-text {
  margin-top: 44px;
  margin-right: 45px;
}

.company-name {
  color: var(--gray-darker);
  margin: 40px 0px 5px 25px;
  font-size: var(--h2-header-font-size);
}

.company-information {
  width: 100px;
  height: 100px;
  color: var(--gray-darker);
  margin: 0px 35px 0px 35px;
  font-size: var(--margin-spacing);
}

.company-id, .company-location {
  color: black;
  font-weight: bolder;
}

.company-location {
  margin-bottom: 9px;
}

.counts {
  justify-content: space-evenly;
  display: flex;
  text-align: center;
  color: var(--azure);
}
  
.active-opportunities, .open-incidents,.escalated-incidents, .open-projects, .active-contacts{
  width: 90px;
  height: 130px;
  float: left;
}

.numbers {
  font-size: 55px;
  font-weight: 200;
  margin-bottom: var(--margin-spacing);
}