:root {
  --gray-dark: darkgray;
  --gray-dark2: #040404;
  --gray-medium: #5d5d5d;
  --gray-darker: #3b3b3b;
  --gray-darker2: #363636;
  --gray-light: #bfbfbf;
  --gray-lighter: #eee;
  
  --azure: #0066d4;
  --white: #fff;
    
  --body-text: var(--gray-dark);
  --headline-text: var(--white);
  
  --table-cell-height-spacing: 12px;
  --margin-spacing: 15px;
  --h2-header-font-size: 18px;
  --table-cell-width-spacing: 25px;
  --pager-element-height: 30px;
}

html, body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto; 
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

header {
  background-color: var(--azure);
  color: var(--headline-text);
  display: flex;
}

h2 {
  margin: var(--margin-spacing) var(--table-cell-height-spacing);
  font-size: var(--h2-header-font-size);
  font-weight: 200;
}

.header__btn {
  margin-left: auto;
  margin-right: 10px;
  background-color: var(--azure);
  border: none;
}

p, h1{
  margin: 0;
}

.company-title{
  display: flex;
}

.star-button {
  background-color: white;
  border: none;
  margin-top: 39px;
  margin-left: auto;
}

.favorite-text {
  margin-top: 44px;
  margin-right: 45px;
}

.company-name {
  color: var(--gray-darker);
  margin: 40px 0px 5px 25px;
  font-size: var(--h2-header-font-size);
}

.company-information {
  width: 100px;
  height: 100px;
  color: var(--gray-darker);
  margin: 0px 35px 0px 35px;
  font-size: var(--margin-spacing);
}

.company-id, .company-location {
  color: black;
  font-weight: bolder;
}

.company-location {
  margin-bottom: 9px;
}

.counts {
  display: flex;
  text-align: center;
  color: var(--azure);
}
  
.active-opportunities, .open-incidents,.escalated-incidents, .open-projects, .active-contacts{
  width: 90px;
  height: 130px;
  margin-right: 130px;
  float: left;
}

.numbers {
  font-size: 55px;
  font-weight: 200;
  margin-bottom: var(--margin-spacing);
}