.page--sign-in {
  padding: var(--page-spacing) 0;

  form {
    border: 2px grey;
    text-align: left;
    color: var(--gray-darker);
    font-weight: normal; 
  }

  input {
    margin-top: var(--table-cell-height-spacing);
    margin-bottom: var(--table-cell-height-spacing);
    height: var(--table-cell-width-spacing);
    width: 100%;
  }

  button {
    margin: var(--table-cell-height-spacing) 0px;
    background-color: var(--azure);
    color: var(--white);
    border: none;
    padding: 7px;
    width: 100%;
  }
}

.form-container {
  height: inherit;
  flex-direction: column;
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
}

.icon-logo { 
  display: block;
  margin: 0 auto;
}

.page-name {
  text-align: center;
  color: var(--gray-darker);
  font-weight: normal; 
}

.ast {
  color:red;
} 

.newpassword-page {
  text-align:center;
}

.form-group label {
  display: block;
}

.form-group:last-of-type {
  margin-bottom: 0;
}
