<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">
        <title>Detail Page | CRM Application</title>
    </head>
    <body class="page--detail">
      <div class="svg-icons"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons" display="none"><symbol id="icon-add-grid-record" viewBox="0 0 16 18"><path d="M13 12a1 1 0 00-1 1v1h-1a1 1 0 000 2h1v1a1 1 0 002 0v-1h1a1 1 0 000-2h-1v-1a1 1 0 00-1-1zm-4-2h6a1 1 0 001-1V2.459h-.004A2.501 2.501 0 0013.5 0h-11A2.5 2.5 0 000 2.5v13A2.5 2.5 0 002.5 18H7a1 1 0 001-1v-6a1 1 0 011-1zm2-8h2.5c.275 0 .5.225.5.5v1c0 .275-.225.5-.5.5H11V2zm0 4h2.5c.275 0 .5.225.5.5v1c0 .275-.225.5-.5.5H11V6zM7 6h2v2H7V6zM5 16H2.5a.501.501 0 01-.5-.5v-1c0-.275.225-.5.5-.5H5v2zm0-4H2.5a.501.501 0 01-.5-.5v-1c0-.275.225-.5.5-.5H5v2zm0-4H2.5a.501.501 0 01-.5-.5v-1c0-.275.225-.5.5-.5H5v2zm0-4H2.5a.501.501 0 01-.5-.5v-1c0-.275.225-.5.5-.5H5v2z" fill="currentColor" fill-rule="nonzero" stroke="none"></path></symbol>
          <symbol id="icon-more" viewBox="0 0 18 18"><path d="M16.5 7a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM9 7a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM1.5 7a1.5 1.5 0 110 3 1.5 1.5 0 010-3z" fill="white" fill-rule="evenodd" stroke="none"></path></symbol>
          <symbol id="icon-star-outlined" viewBox="0 0 18 18"><path d="M9 1.5l2.471 4.938 5.529.79-4 3.845.944 5.427L9 13.937 4.056 16.5l.945-5.428L1 7.23l5.529-.792z" stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path></symbol>
          <symbol id="icon-star-filled" viewBox="0 0 18 18"><path d="M9 .5l2.782 5.596L18 6.994l-4.5 4.355 1.062 6.151L9 14.596 3.438 17.5 4.5 11.349 0 6.994l6.218-.898z" fill="currentColor" fill-rule="evenodd" stroke="none"></path></symbol>
      </svg></div>

      <header>
        <h2>IDS Enterprise</h2>
          <button class="header__btn">
            <svg class="icon" focusable="false" role="presentation" width="25" height="25">
              <use xlink:href="#icon-more"></use>
            </svg>
        </button>
      </header>

      <div class="company-title">
        <p class="company-name">Alexandar Gravel & Stone (Prospect)</p>
        <button class ="star-button">
          <svg class="icon" focusable="false" role="presentation" width="20" height="20">
            <use xlink:href="#icon-star-filled"></use>
          </svg>
        </button>
        <p class="favorite-text">Favorite</p>
      </div>

      <section class="main">
        <div class="company-information">
          <p class="company-id">AC-01 45526</p>
          <p class="company-location">Courbevole</p>
          <p class="last-refreshed">Last Refreshed</p>
          <p class="lf-date">03/25/2020</p>
        </div>

        <div class="counts">
          <div class="active-opportunities">
            <h1 class="numbers">7</h1>
            <p>Active Opportunities</p>
          </div>

          <div class="open-incidents">
            <h1 class="numbers">20</h1>
            <p>Open Incidents</p>
          </div>

          <div class="escalated-incidents">
            <h1 class="numbers">4</h1>
            <p>Escalated Incidents</p>
          </div>

          <div class="open-projects">
            <h1 class="numbers">7</h1>
            <p>Open Projects</p>
          </div>

          <div class="active-contacts">
            <h1 class="numbers">7</h1>
            <p>Active Contacts</p>
          </div>
        </div>
      
      </section>

    </body>
</html>